body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    box-sizing: border-box;
    padding: 2em;
    margin: 0;
}
#library-container, main {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 800px;
    width: 100%;
}
#controls { display: flex; align-items: center; }
button { cursor: pointer; }
audio { width: 100%; flex-shrink: 0; }
table {
    display: block;
    border: 1px solid #ddd;
    overflow: auto;
    flex-shrink: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
td {
    padding: 8px;
    text-align: left;
}
.edit-score { width: 50px; }
.song-path { cursor: pointer; }
.song-path:hover { background-color: #ddd; }
.playing { background-color: #f2f2f2; }
#nowPlaying {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1.5em;
}
#folder-select-popover {
    text-align: center;
    padding: 2em;
}
